:root {
    --weight-height: 150px;
}

html {
    background-color: #011627;
    font-family: Roboto;
    color: #fdfffc;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.hide {
    display: none !important;
}

.center-container {
    align-self: center;
}

#tic-tac-toe-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 3px;

    background-color: #fdfffc;
}

#current-turn {
    font-size: 64px;
    font-weight: 300;
    margin: 0;
}

.text-container {
    height: var(--weight-height);
}

.weight-container {
    height: var(--weight-height);
}

button {
    border: none;
    background-color: #011627;
    border-radius: 0;
    background-image: unset;
}

button:hover {
    background-color: #011d33;
}

.cross {
    background-image: url("../assets/cross.svg");
    background-size: contain;
}

.circle {
    background-image: url("../assets/circle.svg");
    background-size: contain;
}

/*  */
#popup {
    width: 50vw;
    height: 55vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    background: rgba(1, 29, 51, 0.98);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.winner-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    color: #fdfffc;
    font-family: Roboto;
    font-weight: 300;
    font-size: 80px;
}

#replay {
    font-family: Roboto;
    font-weight: normal;
    font-size: 64px;

    color: #011627;
    background-color: #fdfffc;
    padding: 1%;
}

#replay:hover {
    color: #fdfffc;
    background-color: transparent;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
    #tic-tac-toe-grid {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    #current-turn {
        font-size: 36px;
    }

    .winner-container{
        font-size: 42px;
    }

    #replay {
        font-size: 36px;
    }
}